* {
    box-sizing: border-box;
  }
  

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}

p {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 25px;
}
/* Basic Layout of containers */


  .content {
      width: 60%;
      margin: auto;
  }
  
  .calculator{
    float: left;
    width: 34%;
    padding: 10px;
  
  }
  
  .col2 {
      float: left;
    width: 66%;
    padding: 10px;
    color: #424242;
  }

  .col2 h2 {
    color: #00c95d;
    font-family: 'Montserrat', sans-serif;
  }
  
  .content:after {
    content: "";
    display: table;
    clear: both;
  }

footer {
    background-color: #6c4ab6;
    height: 150px;
    
}

header{
    background-color: #6c4ab6;
    height: 150px;
    
    
}














/* Colors */
/* 6C4AB6
8D72E1
8D9EFF
B9E0FF

body {
    color: #cff5e7; CFF5E7
    color: #a0e4cb; A0E4CB
   color:#59c1bd; 59C1BD
    color: #0d4c92;

}
 */
